@model SingUpDto
@{
    ViewData["Title"] = "CrateAccount";
    Layout = "~/Views/Shared/_MneuPage.cshtml";
}
<form method="post">
    <div class="mb-3">
        <h1>Create Account</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Enter Your Name">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" type="text" class="form-control" placeholder="Enter Your Email">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">PassWord</label>
                <input asp-for="Password" type="text" class="form-control" placeholder="Enter Your Password">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">Phone</label>
                <input asp-for="Phone" type="text" class="form-control" placeholder="Enter Your Phone">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" asp-action="SingUpAccount">
            </div>
        </div>
    </div>
</form>


